/* Write your CSS here */
.bg-container {
  background-image: linear-gradient(to right, #f9d423, #e2a139);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
}
.heading {
  color: #a35200;
  margin-bottom: 0px;
  font-size: 25px;
}
.paragraph {
  font-size: 20px;
  font-weight: 500;
}

.image {
  width: 100px;
}

.button {
  background-color: #f7bf66;
  color: #a35200;
  font-weight: 600;
  outline: none;
  border: 0px;
  padding: 10px;
  margin-top: 15px;
  border-radius: 10px;
  cursor: pointer;
}

.count-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  margin-top: 10px;
  color: #475569;
}

@media screen and (min-width: 768px) {
  .card-container {
    width: 80%;
  }
  .count-container {
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    margin-top: 30px;
  }
}

/*Hex: 
Hex: 
Hex: 
Hex: 
Hex: #334155
Hex: */
